<div class="container-fluid p-0">
    <div class="container p-0">
        <div class="row body">
            <div class="col">
                <div class="toolbar py-5 d-flex flex-column">
                    <diV class="row">
                        <span>END-2-END ENCRYPTION REAL TIME CHAT</span>
                    </diV>
                    <div class="row spacer"></div>
                    <div>
                        <h1>RADSADORN</h1>
                    </div>
                    <div class="row spacer"></div>
                    <div class="row" [style]="{'width': '60%'}">
                        <button type="button" class="btn btn-warning btn-md" (click)="createNewUser()">
                            JOIN CHAT
                        </button>
                        <div class="px-1"></div>
                        <button type="button" class="btn btn-success btn-md">
                            NEW CHAT
                        </button>
                        <button type="button" class="btn btn-light btn-md">
                            LOGOUT
                        </button>
                    </div>
                </div>
            </div>

            <div class="col">

                <div class="content p-5">
            
                    <div class="chat-list-box m-5">
                        <div class="offset-md-1 col-md-10">
                            <div class="row pb-2 border-bottom">
                                <span>ห้องแชททั้งหมด</span>
                            </div>
                
                            <div class="chat-list border my-5 px-3">
                
                            </div>
                        </div>
                    </div>
                </div>
            
            </div> 

        </div>
    </div>
</div>