<div class="body">
<mat-toolbar class="mat-toolbar " [color]="'primary'">
    <button mat-icon-button>
      <mat-icon>message</mat-icon>
    </button>
    <div class="px-1"></div>
    <span>END-2-END ENCRYPTION REAL TIME CHAT</span>
</mat-toolbar>

<!-- <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav  mode="side" opened="{{desktop}}" class="border">
      <mat-nav-list>
        <div mat-list-item>
            <button mat-icon-button>
                <mat-icon>people</mat-icon>
            </button>
          <span mat-line *ngIf="user">{{user.name}}</span>
        </div>
        <mat-divider></mat-divider>
        <a mat-list-item  *ngFor="let peer of  peers" >
          <img mat-list-avatar src="{{peer.avatar}}">
          <span mat-line>{{peer.name}}</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    
    <mat-sidenav-content>
      <mat-list class="chat-list"> -->

        <!-- <mat-list-item class="chat-list-item">
          <img mat-list-avatar src="../../../assets/avatar/saferchat.png">
          <h4 mat-line>
            <b>safer.chat</b>
          </h4>
          <p mat-line>
            <span class="white-space-normal"> If you like our app, remember to give us a star on
                <a target="_blank" href="https://github.com/wiringbits/safer.chat">github</a> as well as to
                submit your feedback 
                <a target="_blank" href="https://forms.gle/M4h4C8T5tvqHLR9q9">here</a> 
            </span>
          </p>
        </mat-list-item> -->

        <!-- <mat-list-item *ngFor="let message of messages"
        [ngClass]="[(message.type === event.MESSAGE_RECEIVED && message.from.id === user.id)? 'chat-list-item': '']">
          <img mat-list-avatar *ngIf="message.type === event.MESSAGE_RECEIVED" [src]="message.from.avatar">
          <h4 mat-line *ngIf="message.type === event.MESSAGE_RECEIVED">
            <b>{{message.from.name}}</b>
          </h4>
          <p mat-line *ngIf="message.type === event.MESSAGE_RECEIVED">
            <span class="white-space-normal"> {{message.content}} </span>
          </p>
          <p mat-line *ngIf="message.type === event.PEER_JOINED" class="chat-notification">
            <span> <b>{{message.from.name}}</b> joined the room. </span>
          </p>
          <p mat-line *ngIf="message.type === event.PEER_LEFT" class="chat-notification">
            <span> <b>{{message.from.name}}</b> left the room. </span>
          </p>
        </mat-list-item> 
      </mat-list>

      <div class="chat-footer-container">
        <mat-icon>message</mat-icon>
        <mat-form-field class="chat-input">
          <input matInput 
                #inputMessage 
                maxlength="140" 
                placeholder="Type your message" 
                [(ngModel)]="messageContent" 
                (keyup.enter)="sendMessage(messageContent)">
          <mat-hint align="end">{{inputMessage.value.length}}/140</mat-hint>
        </mat-form-field>
      </div>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div> -->
<div class="container-fluid">
    <div class="container p-0">
        <div class="row main-container">
            <div class="toolbar py-5 d-flex flex-column">
                <div class="row spacer"></div>
                <div>
                    <h1>{{user.username}}</h1>
                </div>
                <div class="row spacer"></div>
                <div class="row" [style]="{'width': '60%'}">
                    <button type="button" class="btn btn-danger btn-md" (click)="leaveChat()">
                        LEAVE CHAT
                    </button>
                    <button type="button" class="btn btn-light btn-md" (click)="closeChat()">
                        CLOSE CHAT
                    </button>
                </div>
            </div>

            <div class="content pb-5 border">
                <div class="message-list-box m-5">
                    <div class="offset-md-1 col-md-10">
                        <div class="row pb-2 border-bottom">
                            <span><b>{{ room.name }}</b></span>
                        </div>
            
                        <div class="message-list my-3 py-0 px-3 scroll border-bottom">
                            <mat-list class="chat-list">
                                <mat-list-item *ngFor="let message of messages"
                                    [ngClass]="(message.type === event.MESSAGE_RECEIVED && message.from === user.username)? 'chat-list-item': ''"
                                >
                                    <!-- <img mat-list-avatar *ngIf="message.type === event.MESSAGE_RECEIVED" [src]="message.from.avatar"> -->
                                    <h4 mat-line *ngIf="message.type === event.MESSAGE_RECEIVED">
                                        <b>{{message.from}}</b>
                                    </h4>
                                    <p mat-line *ngIf="message.type === event.MESSAGE_RECEIVED">
                                        <span class="white-space-normal"> {{message.content}} </span>
                                    </p>
                                    <p mat-line *ngIf="message.type === event.PEER_JOINED" class="chat-notification">
                                        <span> <b>{{message.from}}</b> joined the room. </span>
                                    </p>
                                    <p mat-line *ngIf="message.type === event.PEER_LEFT" class="chat-notification">
                                        <span> <b>{{message.from}}</b> left the room. </span>
                                    </p>
                                </mat-list-item>
                            </mat-list>
                        </div>

                        <div class="chat-footer-container ">
                            <mat-icon>message</mat-icon>
                            <mat-form-field class="chat-input">
                                <input matInput
                                    #inputMessage 
                                    maxlength="140" 
                                    [(ngModel)]="message" 
                                    (keyup.enter)="sendMessage(message)">
                                <mat-hint align="end">{{inputMessage.value.length}}/140</mat-hint>
                            </mat-form-field>
                            <div class="pt-2">
                                <button type="button" class="btn btn-success" (click)="sendMessage(message)">
                                    SEND
                                </button>
                            </div>
                          </div>
                    
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>